name: unitsnet-py

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Generate units
        run: |
          pip install poetry
          poetry export -f requirements.txt > requirements.txt
          pip install -r requirements.txt
          python generator/generate_package.py

      - name: Test units
        run: |
          python -m unittest discover tests
      
      - name: Bump version
        # if: github.ref == 'refs/heads/main'
        id: update_version
        run: |
          poetry version patch
          version=$(poetry version | awk '{print $NF}')
          echo "VERSION=$version" >> $GITHUB_OUTPUT

      - name: Get version info
        id: version_info
        run: |
          body=$(git log -1 --pretty=%B | sed -n '1p')
          echo "BODY=$body" >> $GITHUB_OUTPUT

      - name: Commit and push version
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: Update to version ${{ steps.update_version.outputs.VERSION }} [skip-ci]
      
      - name: Generate setup
        # if: github.ref == 'refs/heads/main'
        run: |
          # pip install poetry2setup
          # The dependencies used only for the generate purpose, and not required as part of the package usage.
          # poetry remove jinja2
          # poetry2setup > setup.py
          # cat setup.py
      
      - name: Publish release
        # if: github.ref == 'refs/heads/main'
        env:
          API_KEY: '${{ secrets.PIP_API_KEY }}'
        run: |
          pip install twine
          python setup.py sdist
          twine upload dist/* -u __token__ -p $API_KEY

      - name: Create Release
        if: github.ref == 'refs/heads/main'
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.update_version.outputs.VERSION }}
          name: Package Version ${{ steps.update_version.outputs.VERSION }}
          body: ${{  steps.version_info.outputs.BODY }}
          draft: false
          prerelease: false
